﻿@using OdeToFood.Core
@model Restaurant

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>@Model.Name</h3>

    </div>
    <div class="panel-body">
        <span>Location:@Model.Location</span>
        <span>Cuisine:@Model.cuisine</span>
    </div>
    <div class="panel-footer">
        <a class="btn btn-lg"
           asp-page="./Detail"
           asp-route-restaurantId="@Model.Id">
            <i class="btn btn-primary">Enter</i>
        </a>
        <a class="btn btn-lg"
           asp-page="./Edit"
           asp-route-restaurantId="@Model.Id">
            <i class="btn btn-primary">Edit</i>
        </a>
        <a class="btn btn-lg"
           asp-page="./Delete"
           asp-route-restaurantId="@Model.Id">
            <i class="btn btn-primary">Delete</i>
        </a>
    </div>
</div>

