﻿@page "{restaurantId}"
@model OdeTofood.Pages.Restaurants.DeleteModel
@{
   ViewData["Title"] = "Delete";
}


<body>
    <h2>Delete!</h2>
    <div class="alert alert-danger">
        Are you sure you want to delete @Model.Restaurant.Name?
    </div>
    <form method="post">
        <button type="submit" class="btn btn-danger">YES!</button>
        <a asp-page="List" class="bnt btn-primary">Cancel</a>
    </form>
</body>

