﻿@page "{restaurantId:int}"

@model OdeTofood.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>
<h2>@Model.Restaurant.Name</h2>
 <div>
          Id: @Model.Restaurant.Id
 </div>
 <div>
          Location: @Model.Restaurant.Location
 </div>

 <div>
          Cuisine: @Model.Restaurant.cuisine
 </div>
 @if(Model.Message !=null)
 {
     <div class="alert alert-info">@Model.Message</div>
 }
<a asp-page="./List" class="btn btn-success">All Restaurants</a>
