﻿@page "{restaurantId:int?}"
@model OdeTofood.Pages.Restaurants.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Editing @Model.Restaurant.Name</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Restaurant.Name"></label>
        <input asp-for="Restaurant.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Restaurant.Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="Restaurant.Location"></label>
        <input asp-for="Restaurant.Location" class="form-control" />
        <span class="text-danger" asp-validation-for="Restaurant.Location"></span>

    </div>
    <div class="form-group">
        <label asp-for="Restaurant.cuisine"></label>
        <select class="form-control" asp-for="Restaurant.cuisine"
                asp-items="Model.cuisine"></select>
        <span class="text-danger" asp-validation-for="Restaurant.cuisine"></span>

    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
@section Scripts
{
 <partial name="_ValidationScriptsPartial"/>
}

